node_modules
npm-debug.log
.git
.gitignore
README.md
.next
.env
.env.local
.env.*.local
.vercel
.DS_Store
coverage
.idea
.vscode
dist
build
*.pem
.yarn/cache
.yarn/unplugged
web3/node_modules
web3/.env*
web3/.hardhat
